# Byte-compiled / cache
__pycache__/
*.py[cod]

# Configuración local o variables de entorno
.env
*.env

# Backups o exports
*.sql
*.sql.gz

# Archivos temporales
*.log
*.tmp
*.swp

# Carpetas de entorno
.venv/
venv/
ENV/

# Archivos del sistema / IDE
.DS_Store
Thumbs.db
.vscode/

# Archivos generados automáticamente
*.json
